$table-bg-color-low-medium: #aaa;
$table-bg-color-thead: #e6f1f2;
$table-bg-color-tbody: #f4f4f4;

$color-primary-pure: #00747a;
$color-primary-light: #f4f4f4;
$color-primary-medium: #eee;
$color-primary-dark: #e0e0e0;

// --- === Feedback colors === --- //
$feedback-color-helper-pure: #f07363;
$feedback-color-helper-light: #f8d7da;
$feedback-color-helper-medium: #c05c4f;
$feedback-color-helper-dark: #783931;

$feedback-color-wargning-pure: #e6cf42;
$feedback-color-wargning-light: #fff9db;
$feedback-color-wargning-medium: #b8a635;
$feedback-color-wargning-dark: #736721;

$feedback-color-success-pure: #41d394;
$feedback-color-success-light: #d4edda;
$feedback-color-success-medium: #34a976;
$feedback-color-success-dark: #206a4a;

$feedback-color-default-pure: #00747a;
$feedback-color-default-light: #e6f1f2;
$feedback-color-default-medium: #004649;
$feedback-color-default-dark: #123229;

$border-radius-sm: 8px;
$border-radius-md: 16px;
$border-radius-lg: 24px;
$border-radius-pill: 500px;
$border-radius-circular: 100%;

$border-width-hairline: 1px;
$border-width-thin: 2px;
$border-width-thick: 4px;
$border-width-heavy: 8px;

$font-size-xxxs: 12px;
$font-size-xxs: 14px;
$font-size-xs: 16px;
$font-size-sm: 21px;
$font-size-md: 24px;
$font-size-lg: 32px;
$font-size-xl: 40px;
$font-size-xxl: 48px;
$font-size-xxxl: 64px;
$font-size-display: 80px;
$font-size-giant: 96px;