$btns-color: (
  "helper": $feedback-color-helper-pure,
  "warning": $feedback-color-warning-pure,
  "success": $feedback-color-success-pure,
  "primary": $feedback-color-default-pure,
  "secondary": $neutral-color-low-medium
);

.v__btn {
  font-family: "Lato", sans-serif;
  margin: .25rem;
  border-radius: $border-radius-pill;
  width: fit-content;
  font-size: 0.875rem;
  transition: all ease-in-out 0.25s;
  text-decoration: none;
  font-weight: bold;
  @include flx(center,center,wrap);
  height: fit-content;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }

  &:hover,
  &:active,
  &:focus,
  &:focus-visible {
    outline: 0;
  }

  @include mq(sm) {
    flex-wrap: nowrap;
  }
}

@mixin btn($color, $type: solid) {
  @extend .v__btn;

  @if $type ==solid {
    color: $neutral-color-hight-pure;
    border: solid 1px $color;
    background-color: $color;

    &:hover,
    &:active,
    &:focus {
      background-color: darken($color, 5);
      border-color: darken($color, 5);
    }

    &:disabled {
      background-color: rgba($color, 0.5);
      border-color: rgba($color, 0);
    }

    &:focus {
      box-shadow: 0 0 0 0.25rem rgba($color, 0.24)
    }
  }

  @else if $type ==outline {
    color: $color;
    border: solid 1px $color;
    background-color: transparent;

    &:hover,
    &:active,
    &:focus {
      background-color: rgba($color, $alpha: .2);
    }

    &:focus {
      box-shadow: 0 0 0 0.25rem rgba($color, 0.10)
    }
  }

  @else if $type ==shadow {
    color: $color;
    border: solid 1px $color;
    background-color: $neutral-color-hight-pure;
    box-shadow: 0 4px 8px 0 rgba($color, 0.24);

    &:hover,
    &:active,
    &:focus {
      background-color: $color;
      color: $neutral-color-hight-pure
    }

    &:focus {
      box-shadow: 0 0 0 0.25rem rgba($color, 0.10)
    }
  }

  @else {
    @error "Erro no #{$color} ou no #{$type}";
  }
}

@mixin create-btn($btns) {

  @each $name,
  $color in $btns {
    .v-btn__solid--#{$name} {
      @include btn($color);
    }
    .v-btn__outline--#{$name} {
      @include btn($color, outline);
    }
    .v-btn__shadow--#{$name} {
      @include btn($color, shadow);
    }
    .v-btn__text--#{$name} {
      color: $color;
      text-decoration: none;
      font-weight: bold;
      border: none;
      background-color: transparent;
      transition: all ease-in-out 0.25s;
      @include flx(center,center,wrap);
      cursor: pointer;
      &:hover{
        opacity: .7;
        text-decoration: underline
      }
    }
  }
}

@include create-btn($btns-color);

[class^="v-btn-"] {
  &.v-btn {
    &--sm {
      padding: 0.375rem 1.5rem;
    }

    &--md {
      padding: .5625rem 2rem;
    }

    &--lg {
      font-size: 1rem;
      padding: .8125rem 2rem;
    }
  }
}
